
@{
    ViewBag.Title = "SuccessStory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="padding-top:50px; ">
    <!-- Page Heading -->

    <!-- Project One -->
    <div class="row">
        <div class="col-md-2" >
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53831.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>Профессор БГУИР: «Бунт интеллектуальных систем — выдумки дилетантов» </h3>
            <p>Кафедра интеллектуальных информационных технологий БГУИР в 2015 году отмечает свое 20-летие. Журналисты dev.by пообщались с заведующим кафедрой, доктором технических наук, профессором Владимиром Васильевичем Голенковым.</p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>

    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53801.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>Быть ученым - это быть в движении от незнания к познанию… </h3>
            <p>Молодой ученый Степанов Андрей Анатольевич в 2008 году окончил БГУИР. В 2013 защитил кандидатскую диссертацию. С 2014 года является доцентом кафедры микро- и наноэлектроники БГУИР. Андрей Анатольевич опубликовал 11 статей. Является автором и соавтором 4 патентов. А в нынешнем году стал лауреатом стипендии Президента Республики Беларусь для талантливых молодых ученых.</p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>
    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53798.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>И только небо тебя поманит синим взмахом ее крыла  </h3>
            <p>В октябре прошлого года ОО «Белорусский союз женщин» и ОАО «Хоум Кредит банк» провели встречу с лучшими студентами-первокурсниками Республики Беларусь. В рамках мероприятия пятерым наиболее талантливым и старательным ребятам были вручены сертификаты на участие в благотворительной программе поддержки одаренной молодежи «Синяя птица». В числе участников программы оказался и наш герой - Тимофей Малаховский. </p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>
    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53795.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>Как стать стипендиатом  </h3>
            <p>Лауреат стипендии Президента Республики Беларусь для талантливых молодых ученых Мадвейко Сергей Игоревич в 2007 в БГУИР защитил магистерскую, а в 2013 - кандидатскую диссертации. С 2014 года является доцентом кафедры электронной техники и технологии. Опубликовал 2 монографии в соавторстве, более 10 научных статей. В соавторстве имеет 2 патента. Сегодня он рассказал нам о себе и своих научных предпочтениях. </p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>

    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53792.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>Надо заниматься своим любимым делом  </h3>
            <p>Этот молодой человек достоин восхищения. Александр Александров - студент 5 курса БГУИР специальности «Вычислительные машины, системы и сети», обладатель уникальной коллекции и организатор выставки ретро-компьютеров. Он отлично учится, работает в Академии наук, но сегодня вы больше узнаете о его внеучебной деятельности и увлечениях. </p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>

    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53788.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>Если есть у человека желание, он может всего достичь. </h3>
            <p>Тимофей Валентинович Борботько - один из трех молодых ученых БГУИР, получивших стипендию Президента Республики Беларусь в 2015 году. В 2014 он был признан лучшим молодым ученым государств СНГ. А еще он является самым молодым профессором БГУИР. </p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>

    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53781.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>Полина Никитенко: «Не сдавайтесь, и все получится!»  </h3>
            <p>Студенты БГУИР добиваются успехов не только в учебе, но и в спорте. Так, совсем недавно студентка 2 курса ФКП Полина Никитенко была награждена стипендией Белорусской ассоциации студенческого спорта в номинации «Массовый спорт». В интервью Полина рассказала, как ей удается совмещать учебу и спорт. </p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>

    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53763.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>Девушка, которая поёт </h3>
            <p>Без ярких выступлений Екатерины Самутичевой, студентки 5 курса специальности «Системы распределения мультимедийной информации» ФТК, не обходится ни один университетский концерт. Но это не единственная ее заслуга: она занимается научной деятельностью и побеждает в научных конференциях. </p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>

    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53757.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>Жизнь в ритмах сердца </h3>
            <p>Руководить волонтёрской группой БГУИР «Созвездие», проникновенно читать стихи в поэтическом театре «Ритмы сердца», в составе сборной университета плавать за победами и… учиться на отлично. Думаете это невозможно? Студентка 3 курса ИЭФ специальности «Маркетинг» Ирина Дорош своим примером доказывает обратное. </p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>

    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53709.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>Под девизом Discover. Connect. Share, или «Мы не гнемся» от Ольги Павлович </h3>
            <p>Ольга Павлович - выпускница инженерно-экономического факультета 2013 года специальности «Маркетинг». В 2012 году она стала одной из трех талантливых молодых людей из Беларуси, которые получили специальные премии на обучение в международной летней школе Magna Carta College в Оксфорде. А уже в нынешнем году она - одна из основателей проекта «Snaptivity» в Великобритании. </p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>

    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53702.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>Made in БГУИР. Топ-7 разработок молодых ученых  </h3>
            <p>Топ-7 наиболее востребованных инновационных разработок «инженерной элиты» БГУИР - молодых ученых, которые смогли материализовать знания в виде новых технологий и инновационных продуктов, опубликовал портал tut.by </p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>

    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53693.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>Наши в Яндексе. Константин Чернухо </h3>
            <p>Выпускник БГУИР Константин Чернухо - один из первых сотрудников направления мобильной разработки в Минском офисе Яндекса поделился впечатлениями о работе в такой крупной IT-компании.</p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>


    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53664.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>Дарья Чушкова: «Не упускай свой шанс…» </h3>
            <p>Одна из лучших выпускниц нынешнего года Дарья Чушкова во время учебы на факультете радиоэлектроники приняла участие во многих научно-технических конференциях, конкурсах, семинарах, прошла курсы повышения квалификации и стала участницей международных школ и стажировок. </p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>


    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53663.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>"Делайте то, что любите, и любите то, что делаете"  </h3>
            <p>"Студентка, комсомолка, спортсменка. Наконец, она просто красавица!" - бессмертная фраза товарища Саахова по праву может быть использована по отношению к выпускнице 2013 года специальности "Информатика", замдекану по воспитательной работе ФКСиС Еве Владимировне Кукар. </p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>


    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53658.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>Анастасия Ковалева: «Я была уверена, что получу отличное образование…»  </h3>
            <p>Анастасия Ковалева - одна из лучших выпускников БГУИР, которой выпала честь участвовать в Республиканском балу. Сегодня она расскажет, как проходили ее лучшие университетские годы.</p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>


    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53656.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>Б.В. Никульшин: «В работе должна быть цель»  </h3>
            <p>О своем продвижении по карьерной лестнице, интересных проектах и образовании как бизнесе рассказал выпускник БГУИР, а ныне проректор по учебной работе и информатизации Борис Викторович Никульшин. </p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>


    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53641.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>«Найдите то, что вам нравится, и занимайтесь этим!»  </h3>
            <p>Этот теперь уже молодой специалист стал известен во времена своей учёбы благодаря собственному проекту «Умный дом». Представляем вашему вниманию Станислава Архипенко - одного из лучших выпускников БГУИР нынешнего года. </p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>


    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53620.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>Ольга Леонтьева: «Мои надежды и мой выбор оправдались» </h3>
            <p>Наша героиня не только умница и красавица, но ещё и разносторонняя личность. На протяжении учёбы в университете эта выпускница ФТК активно участвовала в творческих мероприятиях, а также тесно сотрудничала с пресс-службой. А ещё она успевала учиться одновременно в двух вузах. И вот Ольга Леонтьева - одна из лучших выпускников БГУИР 2014-го года - получила приглашение на Республиканский балл выпускников. </p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>

    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53611.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>Е.Н. Живицкая «Женщины Беларуси могут многое успевать и многого добиваться» </h3>
            <p>Проректор по учебной работе и менеджменту качества БГУИР, кандидат технических наук, доцент Елена Николаевна Живицкая также является выпускницей нашего университета. Мы решили узнать у Елены Николаевны о том, что значит быть руководителем, ученым и мамой. </p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>

    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53538.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>Александра Нестерова: «Моя мечта - открыть свое дело» </h3>
            <p>Выпускнице инженерно-экономического факультета БГУИР Александре Нестеровой всего 26 лет, а она уже занимает должность исполнительного директора первой (и пока единственной) ассоциации венчурных инвесторов и бизнес-ангелов в Беларуси - «БАВИН». Эта организация объединяет 13 успешных белорусских бизнесменов, которые готовы инвестировать в интересные и инновационные отечественные проекты. </p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>

    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53504.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>Martin S: «Потому что каждому есть, что сказать»</h3>
            <p>На просторах белорусской сцены не так давно появилась одна интересная музыкальная группа, которая уже успела выпустить альбом с и покорить своей музыкой сердца многих слушателей. Знакомьтесь, дамы и господа, - Martin S. Двое из участников группы - Маргарита Медвецкая и Вячеслав Устинов - являются студентами ИЭФ. Маргарита рассказывает, почему она решила заняться музыкой и что представляет собой их коллектив, громко заявивший о себе на национальном отборе на Евровидение в 2012 году. </p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>

    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53401.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>HURMA, што вырасла на Беларусі </h3>
            <p>Поп-рок гурт «HURMA» з восені 2012 года зачароўвае слухачоў сваёй энэргічнай музыкай і лірычнымі тэкстамі. За год было выдадзена 5 студыйных сінглаў, зняты кліп, атрыманы перамогі на вядомых беларускіх конкурсах. Адзін з удзельнікаў папулярнага гурта - студэнт 1-га курса ІЭФ Арцём Кутлунін - распавёў пра спалучэнне музычную дзейнасці з навучаннем у тэхнічнай ВНУ. </p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>

    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53397.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>И публикация, и премия, и грант… </h3>
            <p>В БГУИР каждый студент имеет возможность заниматься активным научным творчеством: участвовать в международных научно-практических конференциях, исследованиях и программах, грантах ведущих IТ-компаний мира. </p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>


    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53396.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>Таэквондисты в БГУИР </h3>
            <p>А вы знаете, что учебу в БГУИР можно успешно совмещать с серьезными занятиями различными видами спорта, тренировками в Национальной сборной Республики Беларусь и выступлениями на международных спортивных соревнованиях? Студенты ФТК Андрей Свирский и Егор Дунаев - известные в университете таэквондисты - рассказали о том, как можно всё успевать.</p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>


    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53372.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>Студент- INTERNATIONAL или Учеба по-китайски </h3>
            <p>Китай - одна из самых удивительных и самобытных стран мира. Студенту факультета компьютерного проектирования БГУИР Артему Столповскому была предоставлена возможность не просто побывать в загадочной Поднебесной, а целый год обучаться в Центральном китайском классическом университете... </p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>


    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53349.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>Формула успеха финалиста TopCoder Open Алексея Ропана </h3>
            <p>Неоднократный участник и победитель различных олимпиад по программированию, магистрант БГУИР Алексей Ропан вошел в число 24 сильнейших программистов планеты по версии престижного соревнования TopCoder Open. В интервью корреспонденту Onliner.by он рассказал о прошедших соревнованиях, работе, учебе, тренировках и планах на будущее. </p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>

    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53301.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>Евгений Вороной: «Волонтерская работа не бесплатная - она бесценная» </h3>
            <p>Первоклассный программист, активный участник общественной жизни, энергичный и инициативный руководитель волонтерской группы БГУИР «Созвездие» студент 5-го курса ФКСиС Евгений Вороной совмещает в себе такие несовместимые вещи, как суровая техническая мысль и бескорыстная помощь всем тем, кто в ней так нуждается. </p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>

    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53264.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>"Студенческое время - самый романтический период в жизни..." </h3>
            <p>Декан ФКП Сергей Константинович Дик в интервью газете "Комсомольская правда" рассказал о своих студенческих годах. </p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>

    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53263.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>История успеха , или Как нужно поступать в БГУИР </h3>
            <p>Как набрать высокие баллы на ЦТ и стать студентом БГУИР? Студенты 1-го курса ФКСиС Софья Новикова и Дмитрий Алексейчик знают ответ… </p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>

    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53265.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>От студента к преподавателю... </h3>
            <p>Ассистент кафедры информатики Актанорович СергеЙ Владимирович рассказал почему он сделал свой выбор в пользу ФКСиСа. </p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>

    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53257.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>Мария Марчук: «Мое представление о студенческой жизни превзошло все ожидания» </h3>
            <p>Еще полгода назад абитуриенты готовились покорять БГУИР. В их числе была и Мария Марчук, теперь уже студентка 1 курса ФКСиС. Именно она стала победительницей в интернет-конкурсе эссе «Моя мечта - БГУИР», который проходил в феврале-марте текущего года. Мария с радостью согласилась поделиться впечатлениями о конкурсе, а также о первых месяцах учебы в университете. </p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>

    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53253.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>Выпускник БГУИР Дмитрий Якунин: «Мы уходим из университета, но он из нашей жизни никуда не уходит» </h3>
            <p>БГУИР славится своими талантливыми и успешными выпускниками. Вот и недавно в СМИ громко прозвучало имя выпускника 2006 года режиссера, оператора, монтажера, продюсера и инвестора нового комедийного сериала «Сезон идей» Дмитрия Якунина. </p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>

    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53236.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>Главный герой приемной кампании-2013 Максим Шландаков: «Если цель есть, то можно достичь всех высот» </h3>
            <p>Результаты приемной кампании-2013 не могут не удивлять: проходные баллы в БГУИР значительно выросли и побили рекорды. Наибольшее количество баллов при поступлении набрал Максим Шландаков. В эксклюзивном интервью рекордсмен раскрыл секрет своего успеха. </p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>

    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53242.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>«О чем играет пианист…»  </h3>
            <p>Программист, роллер и… пианист Дмитрий Гошко разрушает легенды о студентах-технарях.</p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>

    <div class="row">
        <div class="col-md-2">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0 success-story-item-image" src="https://abitur.bsuir.by/m/12_113227_1_53245.jpg" alt=""  >
            </a>
        </div>
        <div class="col-md-10">
            <h3>И жизнь, и борьба, и победа… </h3>
            <p>В БГУИР вот уже 47 лет работает Медведь. Настоящий. Человек-легенда - первый в истории мирового спорта трехкратный олимпийский чемпион по вольной борьбе Александр Васильевич Медведь.</p>
            <a class="btn btn-primary" href="#">Подробнее</a>
        </div>
    </div>
     
    <hr>

    <hr>
    <!-- Pagination -->
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</div>